<main>
  <section class="post-box">
    <div class="content-box"> 
      <div class="flex post-header"> 
        <h3 class="title"> Post #<%= @post.id %> by <%= @post.author.name %> </h3>
        <h4 class="counters"> Comments: <%= @post.comments_counter %> | Likes: <%= @post.likes_counter %></h4>
      </div>
      <p class="text"><%= @post.text %></p>
    </div>

    <%# Comments Section %>
    <div>
      <h3 class="subtitle">Comments:</h3>
      <ul>
        <% @post.comments.each do |comment| %>
          <p class="text"><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </ul>
    </div>
  </section>
</main>