<main>
  <section>
    <div> 
      <h3> Post #<%= @post.id %> by <%= @post.author.name %> </h3>
      <h4> Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></h4>
    </div>

    <div>
      <p><%= @post.text %></p>
    </div>
  </section>

  <%# Comments Section %>

  <section>
    <div>
      <h3>Comments:</h3>
      <ul>
        <% @post.comments.each do |comment| %>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </ul>
    </div>

  </section>





</main>