<main>
  <section class="post-box">
    <div class="content-box"> 
      <div class="flex post-header"> 
        <h3 class="title"> Post #<%= @post.id %> by <%= @post.author.name %> </h3>
        <h4 class="counters"> Comments: <%= @post.comments_counter %> | Likes: <%= @post.likes_counter %></h4>
      </div>
      <p class="text"><%= @post.text %></p>
    </div>

    <%# Comments Section %>
    <div>
      <h3 class="subtitle">Comments:</h3>
      <ul>
        <% @post.comments.each do |comment| %>
          <p class="text"><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </ul>
      <div class="flex post-btn">
        <%= link_to "New Comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id ), class: "btn" %>
        <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
          <%= form.submit "Like the post", class: "btn" %>
        <% end %>
      </div>
    </div>
  </section>
</main>